
<footerSaverInfo class="footer_saver_info white" id="footerSaverInfo">
	<div>
		<ul>
			<ul class="ul_horizontal_logo">
				<div class="newsis__logo">
					<div class="footer__logo__img">			
					</div>
					<a href="https://www.newsis.com">
						<div class="newsis__logo__img">
						</div>
					</a>
				</div>
		</ul>
		<ul class="ul_horizontal_info">
			<li class="li_horizontal"><a href="/aboutus"><strong>회사소개</strong></a></li>
			<li class="li_horizontal"><a href="/help"><strong>고객센터</strong></a></li>
			<li class="li_horizontal"><a href="/policy"><strong>이용약관</strong></a></li>
			<li class="li_horizontal"><a href="/policy/privacy"><strong>개인정보 처리방침</strong></a></li>
			<li class="li_horizontal"><a href="/policy/youthpolicy"><strong>청소년 보호정책</strong></a></li>
			<li class="li_horizontal"><a href="/policy/copyrightpolicy"><strong>저작권 보호정책</strong></a></li>
			<li class="li_horizontal"><a href="/policy/rejectemailpolicy"><strong>이메일 무단 수집 거부</strong></a></li>
		</ul>
		</ul>
		<ul class="ul_horizontal">
			<span>제호 : 세이버 | 서울특별시 마포구 월드컵북로92 코워킹스페이스 | </span>
			<span>대표메일 : <a href="mailto:service.thesaver@gmail.com">service.thesaver@gmail.com</a> | </span>
			<span>등록번호 : 서울, 아53986 | </span>
			<span>등록일자 : 2021.10.21 | </span>
			<span>대표,발행, 편집인 : 김정선 | </span>
			<span>법인명 : ㈜더세이버</span>
			<p class="footer__copyright">모든 콘텐츠(영상,기사, 사진)는 저작권법에 근거해 무단 전재와 복사, 배포 등을 금지합니다.</p>
			<p class="footer__copyright"><strong>Copyright ⓒ세이버(Saver). All rights reserved.</strong></p>
		</ul>
	</div>
</footerSaverInfo>

<footerSaverInfoMobile class="footer_saver_info white" id="footerSaverInfoMobile">
	<div>
		<ul>
			<ul class="ul_horizontal_logo">
				<div class="newsis__logo">
					<div class="footer__logo__img">			
					</div>
					<a href="https://www.newsis.com">
						<div class="newsis__logo__img">
						</div>
					</a>
				</div>
		</ul>
		<ul class="ul_horizontal">
			<li class="li_horizontal_mobile15"><a href="/aboutus"><strong>회사소개</strong></a></li>
			<li class="li_horizontal_mobile15"><a href="/policy"><strong>이용약관</strong></a></li>
			<li class="li_horizontal_mobile35"><a href="/policy/privacy"><strong>개인정보 처리방침</strong></a></li>
			<li class="li_horizontal_mobile35"><a href="/policy/youthpolicy"><strong>청소년 보호정책</strong></a></li>
		</ul>
		<span>제호 : 세이버 | 서울특별시 마포구 월드컵북로92 코워킹스페이스 | </span>
		<span>대표메일 : <a href="mailto:service.thesaver@gmail.com">service.thesaver@gmail.com</a> | </span>
		<span>등록번호 : 서울, 아53986 | </span>
		<span>등록일자 : 2021.10.21 | </span>
		<span>대표,발행, 편집인 : 김정선 | </span>
		<span>법인명 : ㈜더세이버</span>
		<p class="footer__copyright">모든 콘텐츠(영상,기사, 사진)는 저작권법에 근거해 무단 전재와 복사, 배포 등을 금지합니다.</p>
		<p class="footer__copyright"><strong>Copyright ⓒ세이버(Saver). All rights reserved.</strong></p>
	</div>
</footerSaverInfo>

<footer class="footer white">
	<button class="footer__button white" data-link="/" onclick="location.href='/'">
		<i class="icon icon-home inactive"></i></button>
	<button id="section" class="footer__button white" data-link="/section">
		<i class="icon icon-section inactive"></i></button>
	<button id="alarm" class="footer__button white" data-link="/alarm">
		<i class="icon icon-alarm inactive"></i></button>
	<button id="bookmark" class="footer__button white" data-link="/bookmark">
		<i class="icon icon-bookmark inactive"></i></button>
</footer>

<%- contentFor('scriptTag') %>
	<script>
		var current = window.location.pathname;
		current = current.replace("/logined","")
		const icon = document.querySelector(`.footer__button[data-link="${current}"] i`)
		if (icon) {
			icon.classList.add('active');
			icon.classList.remove('inactive')
		}

		const alarm = document.querySelector("#alarm");
		const bookmark = document.querySelector("#bookmark");
		const section = document.querySelector("#section");
		const token = localStorage['jwtToken'];

		
		
		section.addEventListener('click', (e) => {
			if (!token){
				location.href = '/section'
			} else {
				axios({
					method: 'post',
					url: '/section/user',
					headers: {
						'x-access-token': token
					}
				}).then((res) => {
					console.log("res.userId = "+res.data); //local console에 잠깐 떴다 사라집니다.
					location.href = '/section/logined'
				}).catch(error => {
					alert(error.response.data.message);
				});				
			}
		});
		alarm.addEventListener('click', (e) => {
			if (token) {
				location.href = '/alarm';
			} else {
				location.href = '/subscriber/login?redirect=/alarm'
			}
		});
		bookmark.addEventListener('click', (e) => {
			if (token) {
				location.href = '/bookmark';
			} else {
				const redirect = encodeURIComponent('/bookmark');
				location.href = `/subscriber/login?redirect=${redirect}`
			}
		});


	</script>
	<script defer type="module" src="/javascripts/alarmStatus.js"></script>