<nav class="topbar white">
  <a href="javascript:history.back()" class="topbar__back"></a>
  <div class="topbar__logo">
    <a href="/">
      <div class="topbar__logo__img"></div>
    </a>
  </div>
  <div class="topbar__right-empty">
  </div>
</nav>
