<nav class="topbar white">
  <div class="topbar__logo">
    <a href="/">
    <div class="topbar__logo__img"></div>
    </a>
  </div>
  <form class="topbar__search white-three">
    <input class="white-three" type="search" placeholder="search" aria-label="search">
    </input>
    <button class="topbar__search__icon" type="submit">
    </button>
  </form>
  <div class="topbar__set">
      <button id = "setting" class="topbar__set__icon"><buttoni>
  </div>
</nav>


<%- contentFor('scriptTag') %>
	<script>
		var current = window.location.pathname;

		const sett = document.querySelector("#setting");

		sett.addEventListener('click', (e) => {
			if (token) {
				location.href = '/setting';
			} else {
				location.href = '/subscriber/login'
			}
		});
	</script>