<footer class="footer white">
	<!--TODO: 현재 라우터에 해당하는 아이콘 active로 바꿔주기-->
	<button class="footer__button white" onclick="location.href='/'"><i class="home-active"></i></button>
	<button class="footer__button white" onclick="location.href='/menu'"><i class="menu-inactive"></i></button>
	<button class="footer__button white" onclick="location.href='/alarm'"><i class="alarm-alarm"></i></button>
	<button class="footer__button white" onclick="location.href='/bookmark'"><i class="bookmark-inactive"></i></button>
  </footer>
