<nav class="topbar white">
    <div class="topbar__back"></div>
    <div class="topbar__logo">
      <a href="/">
      <div class="topbar__logo__img"></div>
      </a>
    </div>
    <div class="topbar__right-empty">
    </div>
  </nav>
