<footer class="footer white">
	<!--TODO: 현재 라우터에 해당하는 아이콘 active로 바꿔주기-->
	<button class="footer__button white" onclick="location.href='/'"><i class="home-active"></i></button>
	<button class="footer__button white" onclick="location.href='/menu'"><i class="menu-inactive"></i></button>
	<button id="alarm" class="footer__button white" ><i class="alarm-alarm"></i></button>
	<button id="bookmark" class="footer__button white" ><i class="bookmark-inactive"></i></button>
</footer>

<%- contentFor('scriptTag') %>
<script>
	const alarm = document.querySelector("#alarm");
	const bookmark = document.querySelector("#bookmark");
	const token = sessionStorage['jwtToken'];
	alarm.addEventListener('click', (e) => {
		if (token) {
			alert('로그인한 유저');
		} else {
			location.href = '/subscriber/login'
		}
	})
	bookmark.addEventListener('click', (e) => {
		if (token) {
			alert('로그인한 유저');
		} else {
			location.href = '/subscriber/login'
		}
	})
</script>