.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

/* NOTE: 홀수 줄 */
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
/* NOTE: 짝수 줄 */
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* NOTE: 마지막열은 아래에 굵은 줄 */
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
