<!DOCTYPE html>
<html>

<head>
  <title>SAVER</title>
  <meta content="target-densitydpi=device-dpi">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class="navbar sticky-top navbar-light bg-light saver-header">
    <div class="container-fluid saver-header">
      <a class="navbar-brand title">SAVER</a>
      <form class="d-flex saver-search">
        <input class="form-control me-2 saver-search__input" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success saver-search__button" type="submit">Search</button>
      </form>

      <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
        <i class="fa fa-gear saver-setting" style="font-size:3rem;"></i>
      </button>
      <div class="offcanvas offcanvas-end w-30" tabindex="-1" id="offcanvas" data-bs-keyboard="false"
        data-bs-backdrop="false">
        <div class="offcanvas-header">
          <h2 class="offcanvas-title d-lg-block" id="offcanvas">Menu</h2>
          <button type="button" class="btn-close text-reset fs-1" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-0">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
            <li class="nav-item fs-1">
              <a href="#" class="nav-link text-truncate">
                <i class="bi-house"></i><span class="ms-1 d-none d-md-inline">Home</span>
              </a>
            </li>
            <li class="nav-item fs-1">
              <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-truncate">
                <i class="bi-speedometer2"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
            </li>
            <li class="nav-item fs-1">
              <a href="#" class="nav-link text-truncate">
                <i class="bi-table"></i><span class="ms-1 d-none d-sm-inline">Orders</span></a>
            </li>
            <li class="dropdown" class="nav-item fs-1">
              <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="bi-bootstrap"></i><span class="fs-1 ms-1 d-none d-sm-inline">Bootstrap</span>
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="nav-link text-truncate nav-item fs-1">
                <i class="bi-grid"></i><span class="ms-1 d-none d-sm-inline">Products</span></a>
            </li>
            <li>
              <a href="#" class="nav-link text-truncate nav-item fs-1">
                <i class="bi-people"></i><span class="ms-1 d-none d-sm-inline">Customers</span> </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </nav>
  <main class="main">
    <section class="today-section">
      <div class="card text-dark bg-light mb-3" style="width: 100%; height: 100%;">
        <div class="card-header today-title">오늘의 뉴스</div>
        <div class="card-body">
          <h1 class="card-title">
            <%= todayArticle.headline %>asdadsadasdsadasda
          </h1>
        </div>
      </div>

      <div class="card text-dark bg-light mb-3" style="width: 100%; height: 100%;">
        <div class="card-header today-title">오늘의 한마디</div>
        <div class="card-body">
          <h1 class="card-title">
            <%= todayWords %>adasdasdasdasdasdasdas
          </h1>
        </div>
      </div>
    </section>
    <section class="mobile-view">
      <article class="articles">
        <div class="row row-cols-1 g-4">
          <% Articles.map((article)=> { %>
            <% if (article.status===4) { %>
              <%- include('partials/articleCard.ejs', { article }) %>
                <% } %>
                  <% }) %>
        </div>
      </article>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src=" https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity=" sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin=" anonymous "></script>
  <script src=" https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js "
    integrity=" sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/ "
    crossorigin=" anonymous "></script>
</body>

</html>