<!DOCTYPE html>
<html>
  <head>
    <title>SAVER</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="main-title">
      <h1>SAVER</h1>
    </header>
    <section class="mobile-view">
      <article class="today-article">
          <h1 class="today-article__title">오늘의 뉴스</h1>
          <h2 class="today-article__content"><%= todayArticle.headline %> </h2> 
      </article>
      <article class="today-words">
        <h1 class="today-words__title">오늘의 한마디</h1>
        <h2 class="today-words__content"><%= todayWords %></h2>
      </article>
      <article class="articles">
          <% Articles.map((article) => { %>
            <% if (article.confirmed) { %>
              <%- include('partials/articleCard.ejs', { article }) %> 
            <% } %>
          <% }) %>
        </article>
      </article>
    </section>
  </body>
</html>
