<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section class="mobile-view">
      <article>
        <div class="today-news">
          <h1>오늘의 뉴스</h1>
        </div>
        <div class="today-words">
          <h1>오늘의 한마디</h1>
        </div>
        <div class="articles">
          <h1>일반 뉴스</h1>
        </div>
      </article>
    </section>
  </body>
</html>
