<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>예제로 만든 탬플릿입니다.</p>
    <p>배열 데이터를 반환하여 목록으로 표시한다.</p>
    <p>
      <ol>
        <% articles.forEach((val) => { %>
          <li><%= val %></li>
        <% }) %>
      </ol>
    </p>
  </body>
</html>
