<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
