<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="side-nav">
      <button class="side-nav__logout">로그아웃</button>
      <a href="edit-meeting">편집 회의</a>
      <a href="articles/new">기사 작성</a>
      <a href="articles">내 기사 목록</a>
    </div>
    <div class="articles-list">article list</div>
  </body>
</html>
