<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form class="login-form" method="post" action="/author/login">
      <div class="login-form__input">
        <label for="email">아이디</label>
        <input type="email" name="email" placeholder="ID" />
        <label for="password">비밀번호</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <button class="submit-button" type="submit">로그인</button>
      <div class="keep-login">
        <input type="checkbox" name="keepLogin" />
        <label for="keep-login"><span>로그인 상태 유지</span></label>
      </div>
    </form>
  </body>
</html>
