<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- <link rel="stylesheet" href="/stylesheets/login.css" /> -->
</head>

<body>
  <div class="side-nav">
    <button class="side-nav__logout">로그아웃</button>
    <a href="/author/edit-meeting">편집 회의</a>
    <a href="/author/articles/new">기사 작성</a>
    <a href="/author/articles">내 기사 목록</a>
  </div>
  <form method="post" class="create-article" action="/author/articles/new" enctype="multipart/form-data">
    <div class="create-article__input">
      <label for="category">카테고리</label>
      <select name="category" id="category">
        <option value="politic">정치</option>
        <option value="economy">경제</option>
        <option value="technology">기술</option>
        <option value="environment">환경</option>
        <option value="science">과학</option>
        <option value="health">건강</option>
        <option value="sports">스포츠</option>
      </select>
      <div class="create-article__input--default">
        <label for="headline">헤드라인</label>
        <input type="text" id="headline" name="headline" placeholder="뉴스의 헤드라인을 입력해주세요" maxlength="30" />
        <br />
        <div>
          <label for="picture">사진</label>
          <input type="file" id="picture" name="picture" accept="image/gif, image/jpeg, image/png" />
          <br />
          <label for="imageDesc">사진 설명</label>
          <input type="text" id="imageDesc" name="imageDesc" placeholder="사진에 대한 설명을 적어주세요" />
          <label for="imageFrom">사진 출처</label>
          <input type="text" id="imageFrom" name="imageFrom" placeholder="사진에 대한 출처를 적어주세요" />
        </div>
        <label for="breifing">100자 브리핑</label>
        <input type="text" id="briefing" name="briefing" placeholder="뉴스에 대한 브리핑을 작성해주세요" maxlength="30" />
      </div>
      <div class="article-add"></div>
      <button type="button" class="article-add--Btn">단락추가</button>
    </div>
    <button class="create-article--save" name="saveBtn" type="submit">저장</button>
    <button class="create-article--complete" name="completeBtn" type="submit">완료</button>
  </form>
  <script type="module" src="/javascripts/addSection.js"></script>
</body>

</html>