<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="side-nav">
    <button class="side-nav__logout">로그아웃</button>
    <a href="/author/edit-meeting">편집 회의</a>
    <a href="/author/articles/new">기사 작성</a>
    <a href="/author/articles">내 기사 목록</a>
  </div>
  <div class="container">
    <form method="post" class="article" action="/author/articles/new" enctype="multipart/form-data">
      <div class="article__category">
        <label for="category">카테고리</label>
        <select name="category" id="category">
          <option value=2>정치</option>
          <option value=3>경제</option>
          <option value=4>기술</option>
          <option value=5>환경</option>
          <option value=6>과학</option>
          <option value=7>건강</option>
          <option value=8>스포츠</option>
        </select>
      </div>
      <div class="article__headline">
        <label for="headline">헤드라인</label>
        <input type="text" id="headline" name="headline" placeholder="뉴스의 헤드라인을 입력해주세요" maxlength="30" />
      </div>
      <div class="article__image">
        <label for="picture">사진</label>
        <input type="file" id="picture" name="picture" accept="image/gif, image/jpeg, image/png" />
        <br />
        <label for="imageDesc">사진 설명</label>
        <input type="text" id="imageDesc" name="imageDesc" placeholder="사진에 대한 설명을 적어주세요" />
        <label for="imageFrom">사진 출처</label>
        <input type="text" id="imageFrom" name="imageFrom" placeholder="사진에 대한 출처를 적어주세요" />
      </div>
      <div class="article__breifing">
        <label for="breifing">100자 브리핑</label>
        <input type="text" id="briefing" name="briefing" placeholder="뉴스에 대한 브리핑을 작성해주세요" maxlength="30" />
      </div>

      <div class="article__paragraphs">
        <div class="article__paragraphs--select">
          <select name="paragraph-select" class="paragraph-select">
            <option value='포인트'>포인트</option>
            <option value='향후예측'>향후예측</option>
            <option value='논쟁점'>논쟁점</option>
            <option value='직접입력(더블클릭으로 수정)'>직접입력</option>
          </select>
          <button type="button" class="paragraph-list--Btn">소단락 추가</button>
        </div>
        <div class="paragraph-list"> </div>
      </div>
      <div class="article__buttons">
        <button class="article--save" name="saveBtn" type="submit">저장</button>
        <button class="article--complete" name="completeBtn" type="submit">완료</button>
      </div>
    </form>
  </div>
  <script type="module" src="/javascripts/addSection.js"></script>
</body>

</html>