<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/author/login.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <div class="container">
        <div class="row justify-content-center" >
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="form-block">
                  <div class="mb-4">
                    <h3>Sign Up to <strong>slab-saver</strong></h3>
                    <p class="mb-4">회원가입을 위해서는 관리자의 승인을 받아야합니다. 사용하실 이메일과 이름을 적어주세요.</p>
                  </div>
                  <form method="post" action="pre-signup">
                    <div class="mb-4">
                      <label for="email" class="form-label">이메일</label>
                      <input type="email" name="email" class="form-control" placeholder="인증 메일을 받을 주소를 입력해주십시오" />
                    </div>
                    <div class="mb-4">
                      <label for="name" class="form-label">이름</label>
                      <input
                        type="text"
                        name="name"
                        placeholder="이름을 입력해주십시오"
                        class="form-control"
                      />
                    </div>
                    <button type="submit" class="btn btn-primary">회원가입 요청</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
