<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form method="post" class="signup-form" action="/author/signup">
      <div class="signup-form__input">
        <label for="id">아이디</label>
        <input type="email" name="id" placeholder="ID" />
        <br />
        <label for="password">비밀번호</label>
        <input
          type="password"
          name="password"
          placeholder="Password"
        />
        <br />
        <label for="confirm">비밀번호 확인</label>
        <input
          type="password"
          name="confirm"
          placeholder="Password confirm"
        />
        <br />
        <label for="contact">연락처</label>
        <input
          type="tel"
          name="contact"
          placeholder="010-1234-7890"
        />
        <br />
        <label for="picture">사진</label>
        <input
          type="file"
          id="picture"
          name="picture"
          accept="image/gif, image/jpeg, image/png"
        />
      </div>
      <button class="submit-button" type="submit">회원가입</button>
    </form>
  </body>
</html>
