  <footer class="text-center text-white bg-success" ">
    <!-- <div class="container p-4 pb-0">

    </div> -->

    <!-- <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> -->
    <div class="text-center p-3"">
      made by <a href="https://github.com/simian114">sanam</a> <a href="https://github.com/kmin-283">kmin</a> <a href="https://github.com/raejun92">juchoi</a>
    </div>
  </footer>