@import url("../style.css");

body{
	background-color: #ffffff;

}

.main{
	top: 50px;
	position: relative;
	top: 50px;
}
.today-card{
	padding: 20px 17px;
	width: 100%;
	height: max-content;

	box-sizing: border-box;
}

.today-card__title{
	height: fit-content;

	display: flex;
	justify-content: flex-start;
}

.today-card__title__icon{
	margin-right: 10px;
}
.today-card__title__text{


	font-family: NotoSansCJKkr;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: -0.42px;
	text-align: left;
}

.today-card__text{
	margin-top: 10px;
}

.divide-white{
	height: 1px;
	margin: 20px 17px;

	background-color: white;
}
