.login {
      height: 100%;
    padding-top: 110px;
    box-sizing: border-box;
}

.login__cancle {
  background-image: url(../../icons/cancle.svg);
  background-position: center;
  background-size: cover;

  height: 66px;
  width: 66px;

  position: absolute;
  right: 0;
  top: 0;
}

.login__logo {
  background-size: cover;
  background-position: center;
  background-image: url(../../icons/login__logo.svg);

  width: 110px;
  height: 40px;
  margin: 0 auto;
}

.login__form {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  margin-top: 77px;
}

.login__form__input {
  height: 51px;
  width: calc(100% - 34px);

  box-sizing: border-box;
  margin-top: 8px;
  padding-left: 17px;
  border-radius: 6px;
}

.login__form__input::placeholder {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #c2c2c2;
}

.login__form__button {
  border: solid black 1px;
  border-radius: 6px;

  margin-top: 16px;

  height: 47px;
  width: calc(100% - 34px);

  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.login__link {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #a7a7a7;

  display: flex;
  justify-content: center;

  margin-top: 27px;
}

.login__link__pw {
  margin: auto 12px auto 12px;
  padding: 0 12px 0px 12px;
  border: solid #a7a7a7 1px;
  border-top: 0px;
  border-bottom: 0px;
}
