@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-sky-blue: #2b94e8;
  --greyish-brown: #434343;
  --pinkish-grey: #c2c2c2;
  --greyish: #a7a7a7;
  --sky-blue: #70b9f9;
  --perrywinkle: #a3ace9;
  --white-two: #f5f5f5;
  --white-three: #ececec;
  --ice-blue: #f1f4ff;
  --ice-blue-two: #eef8ff;
}
.white {
  background-color: #ffffff;
}
.black {
  background-color: #000000;
}

.dark-sky-blue {
  background-color: #2b94e8;
}

.greyish-brown {
  background-color: #434343;
}

.pinkish-grey {
  background-color: #c2c2c2;
}

.greyish {
  background-color: #a7a7a7;
}

.sky-blue {
  background-color: #70b9f9;
}

.perrywinkle {
  background-color: #a3ace9;
}

.white-two {
  background-color: #f5f5f5;
}

.white-three {
  background-color: #ececec;
}

.ice-blue {
  background-color: #f1f4ff;
}

.ice-blue-two {
  background-color: #eef8ff;
}

/* @font-face {
	font-family: 'Noto Sans KR', sans-serif;
	src: local(NotoSansCJKkr-Regular),
	  url(/path/to/NotoSansCJKkr-Regular.woff2) format("woff2"),
	  url(/path/to/NotoSansCJKkr-Regular.woff) format("woff"),
	  url(/path/to/NotoSansCJKkr-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
  }

  @font-face {
	font-family: 'Noto Sans KR', sans-serif;
	src: local(NotoSansCJKkr-Medium),
	  url(/path/to/NotoSansCJKkr-Medium.woff2) format("woff2"),
	  url(/path/to/NotoSansCJKkr-Medium.woff) format("woff"),
	  url(/path/to/NotoSansCJKkr-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
  }

  @font-face {
	font-family: 'Noto Sans KR', sans-serif;
	src: local(NotoSansCJKkr-Bold),
	  url(/path/to/NotoSansCJKkr-Bold.woff2) format("woff2"),
	  url(/path/to/NotoSansCJKkr-Bold.woff) format("woff"),
	  url(/path/to/NotoSansCJKkr-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
  } */

/*타이틀*/
.ft-title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.6px;
  text-align: left;
  color: #434343;
}
/*m_본문_강조_링크4*/
.ft-main-bold {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: -0.3px;
	text-align: left;
	color: #2b94e8;
}
/*m_본문_강조*/
.ft-main-bold-link,  .ce-block b {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
}
/*m_본문3*/
.ft-main, .ce-paragraph, .cdx-nested-list__item-content {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.625 !important;
  letter-spacing: -0.3px;
  text-align: left;
  color: #434343;
}
/*m_본문_링크2*/
.ft-main-link {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0px;
  text-align: left;
  color: #2b94e8;
}
/*m_기자명/사진설명1*/
.ft-detail {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #a7a7a7;
}

/*./icons*/

.icon-economy-black {
  background-image: url('../icons/Economy-black.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-economy-blue {
  background-image: url('../icons/Economy-blue.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-economy-grey {
  background-image: url('../icons/Economy-grey.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-economy-big-blue {
  background-image: url('../icons/economy-big-blue.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

.icon-economy-big-purple {
  background-image: url('../icons/economy-big-purple.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

/*politics*/

.icon-politics-black {
  background-image: url('../icons/politics-black.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-politics-blue {
  background-image: url('../icons/politics-blue.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-politics-grey {
  background-image: url('../icons/politics-grey.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-politics-big-blue {
  background-image: url('../icons/politics-big-blue.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

.icon-politics-big-purple {
  background-image: url('../icons/politics-big-purple.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

/*international*/

.icon-international-black {
  background-image: url('../icons/international-black.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-international-blue {
  background-image: url('../icons/international-blue.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-international-grey {
  background-image: url('../icons/international-grey.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-international-big-blue {
  background-image: url('../icons/international-big-blue.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

.icon-international-big-purple {
  background-image: url('../icons/international-big-purple.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

/*social*/

.icon-social-black {
  background-image: url('../icons/social-black.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-social-blue {
  background-image: url('../icons/social-blue.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-social-grey {
  background-image: url('../icons/social-grey.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-social-big-blue {
  background-image: url('../icons/social-big-blue.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

.icon-social-big-purple {
  background-image: url('../icons/social-big-purple.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

/*culture*/

.icon-culture-black {
  background-image: url('../icons/culture-black.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-culture-blue {
  background-image: url('../icons/culture-blue.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-culture-grey {
  background-image: url('../icons/culture-grey.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-culture-big-blue {
  background-image: url('../icons/culture-big-blue.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

.icon-culture-big-purple {
  background-image: url('../icons/culture-big-purple.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

/*7*/

.icon-7-black {
  background-image: url('../icons/7-black.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-7-blue {
  background-image: url('../icons/7-blue.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-7-grey {
  background-image: url('../icons/7-grey.svg');
  background-position: center;
  background-size: cover;

  height: 18px;
  width: 22px; /* Other styles here */
}

.icon-7-big-blue {
  background-image: url('../icons/7-big-blue.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

.icon-7-big-purple {
  background-image: url('../icons/7-big-purple.svg');
  background-position: center;
  background-size: cover;

  height: 51px;
  width: 44px; /* Other styles here */
}

/*logo*/

.logo-type-small-blue {
  background-image: url('../icons/typelogo-small-blue.svg');
  background-position: center;
  background-size: cover;

  height: 20px;
  width: 25px;
}

.logo-small-blue {
  background-image: url('../icons/logo-small-blue.svg');
  background-position: center;
  background-size: cover;

  height: 20px;
  width: 28px;
}

/*footer ../icons*/

.icon-home.active {
  background-image: url('../icons/home-active.svg');
  background-position: center;
  background-size: cover;

  height: 32px;
  width: 94px;
}

.icon-home.inactive {
  background-image: url('../icons/home-inactive.svg');
  background-position: center;
  background-size: cover;

  height: 32px;
  width: 94px;
}

.icon-section.active {
  background-image: url('../icons/section-active.svg');
  background-position: center;
  background-size: cover;

  height: 32px;
  width: 94px;
}

.icon-section.inactive {
  background-image: url('../icons/section-inactive.svg');
  background-position: center;
  background-size: cover;

  height: 32px;
  width: 94px;
}
.alarm.active {
  background-image: url('../icons/alarm-active.svg');
  background-position: center;
  background-size: cover;

  height: 32px;
  width: 94px;
}

.icon-alarm.inactive {
  background-image: url('../icons/alarm-inactive.svg');
  background-position: center;
  background-size: cover;

  height: 32px;
  width: 94px;
}

.icon-alarm.inactive.new {
  background-image: url('../icons/alarm-alarm.svg');
  background-position: center;
  background-size: cover;

  height: 32px;
  width: 94px;
}

.icon-bookmark.active {
  background-image: url('../icons/bookmark-active.svg');
  background-position: center;
  background-size: cover;

  height: 32px;
  width: 94px;
}

.icon-bookmark.inactive {
  background-image: url('../icons/bookmark-inactive.svg');
  background-position: center;
  background-size: cover;

  height: 32px;
  width: 94px;
}

/* Editorjs 설정 */
div[data-placeholder='Caption'] {
  display: none !important;
}

.cdx-nested-list--ordered > .cdx-nested-list__item::before {
	content: counters(item) !important;
}

.cdx-nested-list--ordered > .cdx-nested-list__item .cdx-nested-list--ordered > .cdx-nested-list__item::before {
	content: "\f111" !important;
    font-family: FontAwesome;
    font-size: 8px;
}

.codex-editor__redactor {
  padding-bottom: 0px !important;
}

.article__paragraphs.open + .article__control .article__control__more-button {
	visibility: hidden;
}

.article__paragraphs.open ol.cdx-block li:first-child {
}
.article__paragraphs.close {
    display: none !important;

}
.ce-block b {
	vertical-align: initial;
}
.cdx-nested-list__item-content {
	line-height: 1.625;
}