<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/author/index.css" />
</head>

<body>
  <div class="side-nav">
    <a href="/author/logout">
      <button class="side-nav__logout">로그아웃</button>
    </a>
    <a href="/author/_admin/invitation">초대 관리</a>
  </div>
</body>

</html>