.bookmark_alarm-page {
  position: relative;
  top: 50px;
  padding-bottom: 40px;
}

.bookmark_alarm-title {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
}

.bookmark_alarm-title-col1 {
  width: 22px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 17px;
}

.bookmark_alarm-title-col2 {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 22px;
}

.bookmark_alarm-title-col2-text {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.48px;
  text-align: left;
  color: var(--black);
}

.bookmark_alarm-section {
  width: 100%;
  display: flex;
  height: available;
}

.bookmark_alarm-section-icon {
  width: 22px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 17px;
  margin-top: 15.8px;
}

.bookmark_alarm-section-text {
  margin-left: 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 17px;
  height: fit-content;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bookmark_alarm-section-text-area {
  display: flex;
  flex-direction: column;
  height: 43.5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bookmark_alarm-section-text-text {
  height: 24px;
  margin: 10px 0.5px 8.5px 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.32px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--greyish-brown);
}

.bookmark_alarm-section-text-line {
  height: 0;
  width: 100%;
  display: flex;
  margin: 0.5px 0 0 0.5px;
  border: solid 1px var(--white-three);
}

.bookmark_alarm-section-tap {
  width: 100%;
  height: 8px;
  background-color: var(--white-two);
}


.toggleBG.inactive {
  background: #CCCCCC; 
  width: 60px; 
  height: 20px; 
  border: 1px solid #CCCCCC; 
  border-radius: 10px;
  float:right;
}

.toggleBG.active {
  background: #09ff00; 
  width: 60px; 
  height: 20px; 
  border: 1px solid #CCCCCC; 
  border-radius: 10px;
  float:right;
}

.toggleFG.inactive {
  background: #FFFFFF; 
  width: 20px; 
  height: 20px; 
  border: none; 
  border-radius: 10px; 
  position: relative; 
  left: -40px;
  float:right;
}

.toggleFG.active {
  background: #FFFFFF; 
  width: 20px; 
  height: 20px; 
  border: none; 
  border-radius: 10px; 
  position: relative; 
  left: 0px;
  float:right;
}