@import url('../style.css');

body {
  background-color: #f5f5f5;
}

.main {
  position: relative;
  top: 50px;
  padding-bottom: 40px;
}
.today-card {
  padding: 20px 17px;
  width: 100%;
  height: max-content;

  box-sizing: border-box;
}

.today-card__title {
  height: fit-content;

  display: flex;
  justify-content: flex-start;
}

.today-card__title__icon {
  margin-right: 10px;
}
.today-card__title__text {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.42px;
  text-align: left;
}

.today-card__text {
  margin-top: 10px;
}

.divide-white {
  height: 1px;
  margin: 20px 17px;

  background-color: white;
}


/* following */
.article-choice{
  background-color: #ffffff;
}

.button {
  /* display: inline-block; */
  padding: 0.8em 1.0em;
  border-radius: 30px;
  background: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: 0.5px solid rgb(224, 228, 230);
  margin: 10px;
  float: right;
}

.button:hover {
  background-color: rgba(84, 86, 224, 0.1);
}

.button:active,
.button.is-checked {
  background-color: #4ea2c31a;
  /* outline: none; */
  float: right;
}
