@import url('../style.css');

body {
  background-color: #f5f5f5;
}

.main {
  position: relative;
  top: 50px;
  padding-bottom: 40px;
}

.today-card {
  /* padding: 20px 17px; */
  padding-top: 17px;
  padding-bottom: 17px;
  width: 100%;
  height: max-content;

  box-sizing: border-box;
}

/* .today-word {
  padding-top: 17px;
  padding-left: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
} */

.today-card__title {
  height: fit-content;

  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
}

.today-card__title__icon {
  margin-right: 10px;
}
.today-card__title__text {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.42px;
  text-align: left;
}

.today-card__text {
  /* margin-top: 10px; */
  margin-left: 20px;
  margin-right: 20px;
}

.divide-white {
  height: 8px;
  margin-top: 17px;
  margin-bottom: 17px;
  /* height: 1px; */
  /* margin: 20px 17px; */

  background-color: white;
}

/* 검색 스크롤 */
#searchZero{
  background-color:  white;
  min-height: 100%;
  position: relative;
  top: 50px;
  padding-bottom: 40px;
}


/* following */
.article-choice{
  background-color: #ffffff;
}

.button {
  padding: 0.5em 1.0em;
  border-radius: 30px;
  background: #ffffff;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: 0.5px solid rgb(224, 228, 230);
  margin: 10px;
  float: right;
}

.button:hover {
  background-color: rgba(84, 86, 224, 0.1);
}

.button:active,
.button.is-checked {
  background-color: #4ea2c31a;
  float: right;
}

/* my section 결과 없음 */
.noneCategory {
  height: 100px;
  display: grid;
  grid-template-columns: .5fr 2fr;

  margin-top: 35px;
  margin-bottom: 8px;
  min-height: 102px;
  height: fit-content;
}

.noneCategory__col1 {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}

.noneCategory__col1__title {
  font-size: 12px;
  line-height: 1.3;
  font-weight: bold;
}

.noneCategory__col2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 17px;
  padding-bottom: 15px;
}

.noneCategory__col2__text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.3px;
  align-self: center;
  color: #434343;
  word-break: keep-all;
  max-width: 75%;
  margin-top: 12px;
}

.logo-small-blue {
  margin-bottom: 17px;
}
