.other {
  color: #a3ace9;
}

.my {
  color: #70b9f9;
}

.section-page {
  height: 100%;
  position: relative;
  top: 50px;
  padding-bottom: 40px;
  font-family: 'Noto Sans KR', sans-serif;
}

.section-div {
  width: 100%;
  height: 58px;

  display: flex;
  align-items: center;
}
.section-div__title {
  color: #000000;

  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.5px;

  margin-left: 17px;
}

.section {
  height: 100px;
  display: grid;
  grid-template-columns: auto auto;

  margin-bottom: 8px;

  height: fit-content;
}

.section__col1 {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 17px;
}

.section__col1__title {
  /*margin-bottom: 22px;*/
  font-size: 12px;
  line-height: 1.3;

  font-weight: bold;
  /*color: #a3ace9;*/
}

.section__col2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 17px;
  padding-bottom: 15px;
  /*vertical-align: top;*/
}

.section__col2__text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.3px;
  color: #434343;
  margin-top: 12px;
}

.section__col2__btn {
  border: solid 1px #434343;
  border-radius: 6px;
  padding: 2px 16px 2px;
  background-color: inherit;
}

.section__col2__btn__text {
  font-size: 11px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0px;
  text-align: center;
  color: #434343;
}

.my_section_default {
  display: grid;
  grid-template-columns: auto auto;
  height: 100px;
  margin-bottom: 8px;
  height: fit-content;

  text-align: center;
}

.my_section_default_text {

  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.3px;
  color: #434343;
  margin-top: 12px;
  text-align: left;
  margin: 20px;
  margin-left: 20px;

}

.logo-small-blue {
  margin-bottom: 17px;
}
