.topbar {
  height: 50px;

  z-index: 100;
  background-color: white;

  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: solid 1px;
  border-color: #d4d4d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar__logo {
  margin-left: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar__logo__img {
  width: 89px;
  height: 15px;

  background-image: url('../../icons/logo.svg');
  background-position: center;
  background-size: cover;
}

.topbar__search {
  height: 28px;
  width: calc(100% - 180px);
  border-radius: 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar__search > input {
  margin-left: 10px;
  width: calc(100% - 50px);
}

.topbar__search__icon {
  margin-right: 14px;
  position: relative;

  width: 19px;
  height: 17px;
  background-image: url('../../icons/search.svg');
  background-position: center;
  background-size: cover;
}

.topbar__set {
  margin-right: 17px;
}

.topbar__set__icon {
  width: 22px;
  height: 22px;
  background-image: url('../../icons/setting.svg');
  background-position: center;
  background-size: cover;
  background-color: inherit;
}

/*back*/

.topbar__back {
  background-image: url(../../icons/back.svg);
  background-position: center;
  background-size: cover;

  width: 12px;
  height: 19px;
  margin-left: 17px;
}

.topbar__right-empty {
  width: 12px;
  height: 19px;
  margin-right: 17px;
}
